.carousel-inner{
  height: 86vh;
}
.carousel-inner img{
  height: 86vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cente{
    width: 80%;
}
.cla{

    border: none !important;
    background-color: aliceblue;
    text-decoration: underline;
    color: blue;
}
/* Table Styling */
table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Alternating Row Colors (Black and White) */
tr:nth-child(odd) {
    background-color: #000;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #fff;
    color: #000;
}

/* Hover Effect */
tr:hover {
    transform: scale(1.05);
    background-color: #444;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Header Styling */
th {
    background-color: #333;
    color: white;
}
.bord {
    text-align: start;
    display: inline-block;  /* Makes the border wrap around the text only */
    border-bottom: 2px solid black;  /* Adds a bottom border */
    padding-bottom: 5px;  /* Adds some space between text and the border */
}
.books{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.books img {
    width: 250px;
    height: 350px;
}
.card-img-top{
    box-shadow: 0 0 20px black;
    border-radius: 20px ;
}