.carousel-inner{
  height: 86vh;
}
.carousel-inner img{
  height: 86vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cente{
    width: 80%;
}
.cla{

    border: none !important;
    background-color: aliceblue;
    text-decoration: underline;
    color: blue;
}
/* Table Styling */
table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

/* Alternating Row Colors (Black and White) */
tr:nth-child(odd) {
    background-color: #000;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #fff;
    color: #000;
}

/* Hover Effect */
tr:hover {
    transform: scale(1.05);
    background-color: #444;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Header Styling */
th {
    background-color: #333;
    color: white;
}
.bord {
    text-align: start;
    display: inline-block;  /* Makes the border wrap around the text only */
    border-bottom: 2px solid black;  /* Adds a bottom border */
    padding-bottom: 5px;  /* Adds some space between text and the border */
}
.books{
    justify-content: center;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.books img {
    width: 250px;
    height: 350px;
}
.card-img-top{
    box-shadow: 0 0 20px black;
    border-radius: 20px ;
}
/* From Uiverse.io by alexruix */ 
.card {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #008bf8;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}